mat-card {
    margin-top: 10px;
}

.task {
    .task-wrapper {
        display: flex;
        justify-content: space-between;

        .task-title {
            font-weight: 600;
        }

        .task-actions {
            display: flex;
            gap: 15px;
            align-items: center;
        }
    }
}
